.App {
  color: #fff;
  background-color: #11152C;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: grid;
  grid: repeat(3, 1fr) / 1fr;
  gap: 1rem;
  align-items: center;
}

#title {
  font-size: 5rem;
  font-weight: 500;
  align-self: end;
}

i {
  pointer-events: none;
}

.bottom-row {
  align-self: start;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#home {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}

*:not(html, body, .App, .Board i) {
  animation: intro .75s;
}

@keyframes intro {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

@media only screen and (max-width: 500px) {
  .App {
    grid: .25fr 1fr .5fr / 1fr;
    gap: 1rem;
    align-items: center;
  }

  #title {
    align-self: center;
  }
}